@import '../../../assets/colors';

:host {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px 40px;
  border-bottom: 1px solid $light;

  a.active {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: rgba($primary, 0.8);
      border-radius: 2px;
      bottom: 0;
      left: 0;
    }
  }
}
