
.block-book {
  width: 100vw;
  display: flex;
  justify-content: center;

  .book{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;


    .author{
      width: 200px;
    }
  }
}
