<form class="form" [formGroup]="authorForm">
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput placeholder="Имя" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Фамилия</mat-label>
    <input matInput placeholder="Фамилия" formControlName="lastName">
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button color="primary" (click)="close()">Отменить</button>
    <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
  </div>
</form>

