<app-book-filters *ngIf="books"
                  [books]="books"
                  (changeFilters)="changeFilteredBooks($event)">
</app-book-filters>

<div class="block-books">
  <app-book-show *ngFor="let book of filteredBooks"
                 [routerLink]="['/', routes.BOOK_CARD, book.id]"
                 [book]="book"></app-book-show>

  <button mat-fab color="primary"
          aria-label="Add"
          class="create-new-book"
          [routerLink]="['/', routes.BOOK_CARD, 'new']">
    <mat-icon>add</mat-icon>
  </button>
</div>
