:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: center;

  ::ng-deep .table {
    width: 100%;

    .mat-column-actions {
      width: 50px;
    }
  }

  .add-button {
    position: fixed;
    bottom: 60px;
    right: 60px;
  }
}


